.Header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.navItems > ul {
  list-style-type: none;
  display: flex;
}

.navItems > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.listing {
  display: flex;
  flex-wrap: wrap;
}

.restrauntCard {
  margin: 10px;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
}

.restrauntCard > img {
  width: 200px;
  height: 200px;
}

.shimmerCard {
  width: 200px;
  height: 200px;
  background: lightgrey;
  margin: 20px;
}
